@page
@model IndexModel
@{
    ViewData["Title"] = "Edit My Profile";
}

@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <div class="col"></div>
    <div class="col-md-6">
        <h2 class="text-center">@ViewData["Title"]</h2>
        <a asp-controller="Dashboard" asp-action="index" class="col-md-offset-0 p-0">< Back</a>
        <ul class="nav nav-tabs nav-fill mt-4">
            <li class="@ManageNavPages.IndexNavClass(ViewContext) nav-item">
                <a asp-page="./Index" class="nav-link active">Edit Profile</a>
            </li>
            <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext) nav-item">
                <a id="change-password" asp-page="./ChangePassword" class="nav-link">Change Password</a>
            </li>
            <li class="@ManageNavPages.PersonalDataNavClass(ViewContext) nav-item">
                <a asp-page="./PersonalData" class="nav-link">Personal data</a>
            </li>
        </ul>

        <form id="profile-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Input.Email" class="form-control" />
                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                    </div>
                }
                else
                {
                    <input asp-for="Input.Email" class="form-control" />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                }
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Save</button>
        </form>
    </div>
    <div class="col"></div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
