@model IEnumerable<onni.Models.Comments>

@{
    ViewData["Title"] = "Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div data-page="project-details">

        @foreach (var item in (IEnumerable<Projects>)ViewData["Projects"])
        {
            @if (User.Identity.IsAuthenticated)
            {
                <p>
                    <a asp-action="Create" asp-route-ParentProjectId="@item.ProjectId">Create Child project</a>
                </p>
            }
            @if (User.IsInRole("Admin") && @item.StatusId == 1)
            {
                <form asp-area="Admin" asp-action="Public" asp-route-id="@item.ProjectId" method="post">
                    <button type="submit" class="btn btn-link">Make it public</button>
                </form>
            }
            <!-- Main site content -->
            <div class="container-fluid">
                <div class="jumbotron">
                    <h1 class="project-title">@Html.DisplayFor(modelItem => item.ProjectName)</h1>
                    <p class="project-description">@Html.DisplayFor(modelItem => item.CreatedDate)</p>
                </div>
            </div>
            <!-- Main project listing -->
            <div class="project pt-4">
                <!-- Bar containing user, comments, likes, etc links, rendered as a large pill-styled bar in the mockup -->
                <div class="action-bar btn-group" role="group">
                    <!-- User link, should take up twice the space of other items in the bar -->
                    <button type="button" class="btn" id="action-user">
                        <img class="profile-img" src="https://randomuser.me/api/portraits/women/32.jpg" alt="profile" height="30" />
                        Nicole W.
                    </button>
                    <!-- Add link -->
                    <button type="button" class="btn" id="action-add">
                        <img src="https://image.flaticon.com/icons/svg/808/808559.svg" alt="add" height="30" />
                    </button>
                    <!-- Comments link -->
                    <button type="button" class="btn" id="action-comment">
                        <img src="https://image.flaticon.com/icons/svg/1380/1380338.svg" alt="comments" height="30" />
                    </button>
                    <!-- Like button -->
                    <button type="button" class="btn" id="action-like">
                        <i class="far fa-heart fa-lg"></i>
                    </button>
                </div>
                <!-- Main project card -->
                <div class="card">
                    <!-- Header contains categories and views and likes -->
                    <div class="card-header">
                        <div class="btn-group category-group" role="group">
                            <button class="icon icon-category">
                                <i class="fas fa-leaf fa-lg" style="color:#1bde3d;"></i>
                            </button>
                            <button class="icon icon-category">
                                <i class="fas fa-microchip fa-lg" style="color:#2a2de7;"></i>
                            </button>
                        </div>
                        <!-- Views and likes icons (used button group as default styling is close) -->
                        <div class="btn-group stats-group" role="group">
                            <button class="stat">
                                <i class="far fa-eye fa-lg"></i>@Html.DisplayFor(modelItem => item.ViewCounts)
                            </button>
                            <button class="stat">
                                <i class="far fa-heart fa-lg" style="color:#ED1C24;"></i>@Html.DisplayFor(modelItem => item.LikeCounts)
                            </button>
                        </div>
                    </div>
                    <!-- Body contains the various sectioned content pieces -->
                    <div class="card-body">
                        <!-- Background brief section -->
                        <section class="project-background">
                            <h2>Background</h2>
                            <p>Lorem ipsum dolor sit amet consecteteur adispicing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore manga eliquam verad dolupat. Ut wisi enim ad minim veniam, quis nostrad excim tatius a corpus suscipit laboris minoris.</p>
                            <p>Auctor augue mauris augue neque gravida in fermentum. Ornare suspendisse sed nisi lacus sed viverra tellus in. Elit eget gravida cum sociis natoque penatibus et magnis dis. Tellus pellentesque eu tincidunt tortor. Vulputate odio ut enim blandit volutpat maecenas volutpat blandit.</p>
                        </section>
                        <!-- Gallery section (may need additional classes?) -->
                        <section class="project-gallery mt-4">
                            <h2>Gallery</h2>
                            <div class="gallery">
                                <img class="img-fluid" src="https://i.ytimg.com/vi/Tn7EfyRNRyE/maxresdefault.jpg" alt="" />
                                <img class="img-fluid" src="https://imgs.6sqft.com/wp-content/uploads/2017/11/15113025/Bedford-Green-House-Rendering-of-Rooftop-Greenhouse.jpg" alt="" />
                                <img class="img-fluid" src="https://cdn.instructables.com/FT9/LXSR/HAQ3DS7T/FT9LXSRHAQ3DS7T.LARGE.jpg" alt="" />
                                <img class="img-fluid" src="https://extension.umn.edu/sites/extension.umn.edu/files/styles/crop_3_x_2_collage_image_crop_/public/DSC_0516.JPG?h=6fd521c9&itok=ZsFw8G7o" alt="" />
                                <img class="img-fluid" src="https://baileylineroad.com/wp-content/uploads/2017/04/hoop_house_opener.jpg" alt="" />
                                <img class="img-fluid" src="https://gardenmagz.com/wp-content/uploads/2017/09/Greenhouse-Gardening-For-Beginners-Ideas-4.jpg" alt="" />
                            </div>
                        </section>
                        <!-- Downloads section -->
                        <section class="project-downloads mt-4">
                            <h2>Downloads</h2>
                            <div class="file-uploads p-5">
                                <img src="https://image.flaticon.com/icons/svg/2089/2089751.svg" alt="download" class="mx-auto d-block" width="40" />
                            </div>
                        </section>
                    </div>
                </div>
                <!-- End of project -->
            </div>
            @if (User.Identity.Name == item.UserName || User.IsInRole("Admin"))
            {
                <div>
                    <a asp-action="Edit" asp-route-id="@item.ProjectId">Edit</a>
                </div>
            }
            @if (ViewBag.isLike == true)
            {
                <form asp-controller="SavedProjects" asp-action="Unlike" asp-route-ProjectId="@item.ProjectId" asp-route-UserName="@User.Identity.Name" method="post">
                    <button type="submit" class="btn btn-link">Unlike</button>
                </form>
            }
            else
            {
                <form asp-controller="SavedProjects" asp-action="Like" asp-route-ProjectId="@item.ProjectId" asp-route-UserName="@User.Identity.Name" method="post">
                    <button type="submit" class="btn btn-link">Like</button>
                </form>

            }
        }
        <h2>Comments</h2>

        <partial name="_DisplayComments" />
        <partial name="_CreateComment" />
    </div>

<script src="/lib/jquery/dist/jquery.js"></script>
<script>
    var imgSection = $("#project-images")
    var fileSection = $("#project-files")
    var images = imgSection.text().trim().split(" ")
    var files = fileSection.text().trim().split(" ")
    var imgContent = ""
    var fileContent = ""

    if (images != "") {
        $.each(images, function (index, img) {
            //Image HTML goes here!
            imgContent += "<img src = '../../upload/img/"+img+"' alt = '' width='200' />"
        })
    }
    else {
        imgContent = "<p>No Images</p>"
    }
    imgSection.html(imgContent)

    if (files != "") {
        $.each(files, function (index, file) {
            var plainName = file.substring(file.indexOf("_") + 1);
            //File display HTML goes here!
            fileContent += "<p class=''><a target='_blank' href='../DownloadFile/"+file+"'>" + plainName + "</a></p>"
        })
    }
    fileSection.html(fileContent);
</script>