@model onni.Models.ProjectCategories

@{
    ViewData["Title"] = "Index";
    
    Layout = "~/Views/Shared/_Layout.cshtml";

}

    <div data-page="project-index">
        <form asp-controller="Projects" asp-action="Index" method="get">

            <label>Category:</label>
            <select asp-for="ProjectCategory" asp-items="Model.Categories">
                <option value="">All</option>
            </select>
            <label> Search:</label>
            <input type="text" asp-for="SearchString" />
            <input type="submit" value="Search" />

        </form>
        @if (!String.IsNullOrEmpty(ViewBag.ProjectCategory))
        {
            <p>Results of @ViewBag.ProjectCategory</p>
        }
        @if (!String.IsNullOrEmpty(ViewBag.searchString))
        {
            <p>Results of @ViewBag.searchString</p>
        }

        <h2>Index</h2>
        @if (User.Identity.IsAuthenticated)
        {
            <p>
                <a asp-action="Create">Create New</a>
            </p>
        }
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Projects[0].ProjectName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Projects[0].UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Projects[0].CreatedDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Projects[0].BodyContent)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Projects[0].Files)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Projects[0].Images)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Projects[0].ViewCounts)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Projects[0].LikeCounts)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Projects[0].Tags)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Projects[0].Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Projects[0].ParentProject)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Projects[0].Status)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Projects)
                {
                    <tr>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.ProjectId"> @Html.DisplayFor(modelItem => item.ProjectName)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td>
                            <div class="bodyContent-inputs" style="display:none">
                                @Html.DisplayFor(modelItem => item.BodyContent)
                            </div>
                            <div class="bodyContent-outputs">

                            </div>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Files)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Images)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ViewCounts)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LikeCounts)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tags)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.CategoriesName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ParentProject.ProjectName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status.StatusName)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ProjectId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ProjectId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ProjectId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>