@model onni.Models.ProjectCategories
@using System

@{
    ViewData["Title"] = "All Projects";

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div data-page="project-index">
    <h2></h2>

    @*<form asp-controller="Projects" asp-action="Index" method="get" class="form-inline">
            <div class="form-group">
                <label>Category:</label>
                <select asp-for="ProjectCategory" asp-items="Model.Categories" class="form-control">
                    <option value="">All</option>
                </select>
                <label> Search:</label>
                <input type="text" asp-for="SearchString" class="form-control" />
                <input type="submit" value="Search" class="btn btn-secondary" />
            </div>
        </form>*@
        <form asp-controller="Projects" asp-action="Index" method="get" class="form-inline mb-3">
            <div class="input-group-prepend">
                <select asp-for="ProjectCategory" asp-items="Model.Categories" class="form-control ">
                    <option value="">All categories</option>
                </select>
            </div>
            <input type="text" asp-for="SearchString" class="form-control w-50" />
            <div class="input-group">
                <div class="input-group-append">
                    <input type="submit" value="Search" class="btn btn-outline-secondary" />
                </div>
            </div>
        </form>
    
    @if (!String.IsNullOrEmpty(ViewBag.ProjectCategory))
    {
        @if (!String.IsNullOrEmpty(ViewBag.searchString))
        {
            <p>Showing "@ViewBag.searchString" projects in @ViewBag.ProjectCategory</p>
        }
        else
        {
            <p>Showing all projects in @ViewBag.ProjectCategory</p>
        }
    }
    else if (!String.IsNullOrEmpty(ViewBag.searchString))
    {
        <p>Showing "@ViewBag.searchString" projects</p>
    }

    @if (User.Identity.IsAuthenticated)
    {
        <p>
            <a asp-action="Create" class="btn btn-primary mt-3">+ Create a Project</a>
        </p>
    }

    <div class="projects row">

        @foreach (var item in Model.Projects)
        {
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card mb-5 p-0 ">
                <!-- Thumbnail at the top of the card -->
                <div class="project-thumbnail">
                    @{
                        string pic = item.Images;
                        if (pic != null)
                        {
                            string[] things = pic.Split(" ");
                            Console.WriteLine(pic);
                        }
                    }
                    @if (pic != null)
                    {
                        <img class="img-fluid" src="/upload/img/@item.Images.Split(" ")[0]" alt="" />
                    }
                    else
                    {
                        <img class="img-fluid" src="https://via.placeholder.com/640x400.png?text=No+Image" alt="" />
                    }
                </div>
                <!-- Project title -->
                <h2 class="card-header">
                    <a class="text-dark" asp-action="Details" asp-route-id="@item.ProjectId">@item.ProjectName</a>
                </h2>
                <div class="card-body">
                    <!-- User attribution -->
                    <h5 class="card-title">By @item.UserName</h5>
                    <!-- Category icons -->
                    <div class=" btn-group">
                        <a class="icon-btn btn btn-outline-info no-hover">
                            <span class="icons @Html.DisplayFor(modelItem => item.Category.CategoriesName)"></span>
                            @Html.DisplayFor(modelItem => item.Category.CategoriesName)
                        </a>
                        <div class="btn-group">
                            <a class="icon-btn btn btn-outline-secondary no-hover">
                                <span class="icons eye"></span>
                                @Html.DisplayFor(modelItem => item.ViewCounts)
                            </a>
                            <a class="icon-btn btn btn-outline-secondary no-hover">
                                <span class="icons heart"></span>
                                @Html.DisplayFor(modelItem => item.LikeCounts)
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>
